body {
    background-color: rgb(31, 31, 31);
    color: rgb(220, 220, 220);
    padding: 5px;
    margin: 0px;
    font-family: "Segoe UI", "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
}

a {
    color: rgb(86, 156, 214);
    text-decoration: none;
}

iframe#map-frame {
    display: none;
    height: 100%;
    width: 100%;
    border: none;
}

#civ-frame {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border: none;
}

#main-container {
}

#tabs {
    min-width: 320px;
    max-height: 50vh;
    overflow-y: auto;
}

#show-hide-tabs {
    display: none;
    background-color: #e0c0c0;
    flex: 1;
}

#status-box {
}

#sections {
    flex: 100;
    min-width: 350px;
    max-width: 100%;
}

.statusline {
    width: 250px;
    height: 40px;
    display: inline-block;
    padding: 6px;
    background-color: #484040;
    color: #d0d0d0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 3px;
}

.status-title {
    display: block;
}

.status-summary {
    display: inline-block;
    text-align: right;
}

.statusline:hover {
    background-color: #807070;
    color: #ffffff;
}

.statusline.selected {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-color: rgb(51, 153, 255);
    color: rgb(255, 255, 255);
}

.statusline:not(.selected) {
    /* This inset shadow adds a little bit of definition to the section's edges */
    box-shadow: inset -2px -2px 20px 1px rgba(0, 0, 0, 0.2);
}

.statusline span.online, .statusline span.offline {
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
}

.online {
    color: #00ff00;
}

.statusline:hover span.online {
    color: #00ff00;
}

.statusline.selected span.online {
    color: rgb(240, 255, 240);
}

.offline {
    color: #ff0000;
}

.statusline:hover span.offline {
    color: rgb(255, 240, 240);
}

.statusline.selected span.offline {
    color: #a00000;
}

.statusline span.player-count {
    font-weight: normal;
}

.section {
    display: none;
    flex-direction: column;
    padding: 4px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background-color: rgb(31, 31, 31);
    position: relative;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.section > div {
    flex: 1;
}

.section > div#map-container {
    display: flex;
    flex-direction: column;
}

.section > div#map-container > iframe {
    flex: 1;
}

.section > div.details-section {
    flex: none;
}

.section.selected {
    display: flex;
}

#toggle-map {
    font-weight: 600;
    cursor: pointer;
    color: rgb(220, 220, 220);
    display: inline-block;
}

#toggle-map:hover {
    color: #605050;
}

.details-section {
    max-width: 800px;
    background-color: rgb(31, 31, 31);
    padding: 10px;
    margin-bottom: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.details-section .header {
    font-weight: bold;
    font-size: 8pt;
    color: #808080;
}

.details-section .details-line {
    display: block;
}

.details-section .details-label {
    font-weight: bold;
    width: 100px;
    font-size: 10pt;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

.details-section .details-value {
    display: inline-block;
    vertical-align: top;
}

.details-value a {
    text-decoration: none;
}